doctype html
html(lang='en')
  head
    
    include ../includes/site-head.pug
      
    
    title About Corwin Beverage

  body
    
    include ../includes/site-nav.pug
    
    include ../includes/page-header.pug

    section.page
      h1.page__title.tk-pauline About Us
      .page__wrapper.construction
        h2 This page is under construction
        p Please check back soon.
    
    include ../includes/site-footer.pug
      
    include ../includes/global-scripts.pug
