script.
  console.log("Global scripts are loading, baby!");
  
  
// Menu slide script
script.
  var button = document.getElementById("toggle-menu");
  var menu = document.getElementById("site-nav");
  button.addEventListener("click", function() {
  menu.classList.toggle("menu-visible");
  });
