header#site-nav.site-nav
  a.site-nav__logo-wrapper(href='index.html')
    img.site-nav__logo(alt='Corwin Beverage Logo', src='images/corwin-logo-color.svg')
  a.site-nav__title(href='index.html') Corwin Beverage Company
  button#toggle-menu.toggle-menu Menu
  .site-nav__actions-wrapper
    a.site-nav__action(href='request-service.html') Request Service
    a.site-nav__action.site-nav__action--orange(href='http://revoltcoffee.com') What's New at Corwin?
    a.site-nav__action.site-nav__action--green(href='community.html') Community
    a.site-nav__action.site-nav__action--magenta(href='contact.html') Our Team
  .site-nav__toolbar
    a.site-nav__toolbar-item(href='about-us.html') About
    a.site-nav__toolbar-item(href='careers.html') Careers
    a.site-nav__toolbar-item(href='index.html#services') Services
    a.site-nav__toolbar-item(href='contact.html') Contact Us
// end of .site-nav
