footer.footer
  img.footer__logo(alt='Corwin logo', src='images/corwin-logo-reverse.svg')
  .footer__social-wrapper
    a.facebook-link(href='https://www.facebook.com/CorwinBeverage/') Find us on Facebook
    a.twitter-link(href='https://twitter.com/corwinbeverage') Find us on Twitter
    a.instagram-link(href='https://www.instagram.com/corwinbeverage/') Find us on Instagram
    a.linked-in-link(href='https://www.linkedin.com/company/corwin-beverage-company/') Find us on LinkedIn
  .footer__contact
    span.footer__name
      | Corwin Beverage Company
      br
    span.footer__number
      | (360) 696-0766
      br
    span.footer__caddress 219 S Timm Rd, Ridgefield, WA 98642
  small.footer__copyright © Copyright 2017, Corwin Beverage Company
